In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
from pandarallel import pandarallel

In [3]:
pandarallel.initialize(progress_bar=True)
data_pth = Path('./data')

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [5]:
[x for x in data_pth.iterdir()]

[PosixPath('data/test.csv'),
 PosixPath('data/GCP-Coupons-Instructions.rtf'),
 PosixPath('data/train.csv'),
 PosixPath('data/sample_submission.csv')]

In [6]:
nrows=2000

In [7]:
dtypes = {
    'fare_amount': 'float32',
    'pickup_datetime': 'str',
    'pickup_longitude': 'float32',
    'pickup_latitude': 'float32',
    'dropoff_longitude': 'float32',
    'dropoff_latitude': 'float32',
    'passenger_count': 'uint8'
}
use_cols = [
    'fare_amount',
    'pickup_datetime',
    'pickup_longitude',
    'pickup_latitude', 
    'dropoff_longitude', 
    'dropoff_latitude',
    'passenger_count'
]
date_cols = ['pickup_datetime']
df = pd.read_csv(data_pth/'train.csv', nrows=nrows, 
                 dtype=dtypes, usecols=use_cols, 
                 parse_dates=date_cols, infer_datetime_format=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare_amount        2000 non-null   float32
 1   pickup_datetime    2000 non-null   datetime64[ns]
 2   pickup_longitude   2000 non-null   float32
 3   pickup_latitude    2000 non-null   float32
 4   dropoff_longitude  2000 non-null   float32
 5   dropoff_latitude   2000 non-null   float32
 6   passenger_count    2000 non-null   uint8
dtypes: datetime64[ns](1), float32(5), uint8(1)
memory usage: 56.8 KB

In [9]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21,-73.844315,40.721317,-73.841614,40.712276,1
1,16.9,2010-01-05 16:52:16,-74.016045,40.711304,-73.979271,40.782005,1
2,5.7,2011-08-18 00:35:00,-73.982735,40.761269,-73.991241,40.750561,2
3,7.7,2012-04-21 04:30:42,-73.987129,40.733143,-73.991570,40.758091,1
4,5.3,2010-03-09 07:51:00,-73.968094,40.768009,-73.956657,40.783764,1

In [10]:
def clean(df):
    # Drop NaNs
    df = df.dropna(how='any')
    
    # Limit lats and lons to NY only
    df = df[(-76 <= df['pickup_longitude']) & (df['pickup_longitude'] <= -72)]
    df = df[(-76 <= df['dropoff_longitude']) & (df['dropoff_longitude'] <= -72)]
    df = df[(38 <= df['pickup_latitude']) & (df['pickup_latitude'] <= 42)]
    df = df[(38 <= df['dropoff_latitude']) & (df['dropoff_latitude'] <= 42)]
    
    # Remove possible outliers
    df = df[(0 < df['fare_amount']) & (df['fare_amount'] <= 250)]
    df = df[df['passenger_count'] < 7]
    
    # Remove inconsistent values
    df = df[(df['dropoff_longitude'] != df['pickup_longitude'])]
    df = df[(df['dropoff_latitude'] != df['pickup_latitude'])]
    
    return df

In [11]:
df = clean(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1934 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare_amount        1934 non-null   float32
 1   pickup_datetime    1934 non-null   datetime64[ns]
 2   pickup_longitude   1934 non-null   float32
 3   pickup_latitude    1934 non-null   float32
 4   dropoff_longitude  1934 non-null   float32
 5   dropoff_latitude   1934 non-null   float32
 6   passenger_count    1934 non-null   uint8
dtypes: datetime64[ns](1), float32(5), uint8(1)
memory usage: 69.9 KB

In [14]:
lat_long_cols = [
    'pickup_longitude',
    'pickup_latitude',
    'dropoff_longitude',
    'dropoff_latitude'
]

In [15]:
df['year'] = df.pickup_datetime.parallel_apply(lambda dt: dt.year)
df['month'] = df.pickup_datetime.parallel_apply(lambda dt: dt.month)
df['day'] = df.pickup_datetime.parallel_apply(lambda dt: dt.day)
df['hour'] = df.pickup_datetime.parallel_apply(lambda dt: dt.hour)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=484), Label(value='0 / 484'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=484), Label(value='0 / 484'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=484), Label(value='0 / 484'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=484), Label(value='0 / 484'))), HB…

In [16]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour
0,4.5,2009-06-15 17:26:21,-73.844315,40.721317,-73.841614,40.712276,1,2009,6,15,17
1,16.9,2010-01-05 16:52:16,-74.016045,40.711304,-73.979271,40.782005,1,2010,1,5,16
2,5.7,2011-08-18 00:35:00,-73.982735,40.761269,-73.991241,40.750561,2,2011,8,18,0
3,7.7,2012-04-21 04:30:42,-73.987129,40.733143,-73.991570,40.758091,1,2012,4,21,4
4,5.3,2010-03-09 07:51:00,-73.968094,40.768009,-73.956657,40.783764,1,2010,3,9,7

In [ ]:
df = df.reset_index(drop=True)
df.to_feather(data_pth/'checkpoints/df_clean_enriched_dates.feather')

In [ ]:
df.head()

In [17]:
def euclidean(pickup_lat, pickup_long, dropoff_lat, dropoff_long):
    return np.sqrt(np.abs(dropoff_lat - pickup_lat)**2 + np.abs(dropoff_long - pickup_long)**2)

In [18]:
df['straight_distance'] = df.parallel_apply(lambda row: euclidean(*row[lat_long_cols]), axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=484), Label(value='0 / 484'))), HB…

In [19]:
df = df.sort_values('pickup_datetime', ascending=True, ignore_index=True)

In [20]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour,straight_distance
0,14.5,2009-01-02 10:13:46,-73.947044,40.780106,-73.989037,40.751587,2,2009,1,2,10,0.050761
1,3.7,2009-01-03 13:27:00,-73.963821,40.774162,-73.957649,40.782627,1,2009,1,3,13,0.010476
2,3.7,2009-01-06 19:06:00,-73.981186,40.759338,-73.985878,40.758652,2,2009,1,6,19,0.004742
3,4.5,2009-01-06 22:30:00,-73.998962,40.738312,-73.997162,40.747028,2,2009,1,6,22,0.008901
4,4.9,2009-01-09 14:41:24,-73.958260,40.768902,-73.954742,40.779350,1,2009,1,9,14,0.011025

In [ ]:
df.to_feather(data_pth/'checkpoints/df_clean_enriched_dates_and_distance.feather')